*{
	padding: 0;
	margin: 0;
	font-family: Monaco;
	box-sizing: border-box;
}
.hero{
	height: 100vh;
	width: 100%;
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-position: center;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}
.logo{
	color: #c0bebd;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: #655f5f;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: #323131;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #f8b96c;
	transition: .4s;
}
.content{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
h1{
	color: #655f5f;
	margin: 20px 0px 20px;
	font-size: 50px;
}
h3{
	color: #f8b96c;
	font-size: 22px;
	margin-bottom: 50px;
}
h4{
	color: #f8b96c;
	letter-spacing: 2px;
	font-size: 20px;
}
.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #c6c4c4;
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: #655f5f;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: #655f5f;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background-color:#655f5f;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: #3c3b3b;
	border: 4px solid white;
	cursor: pointer;
}
.skills_section{
    width: 100%;
    height: 100vh;
    padding: 0px 13%;
    background-color: #edededfd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.skills_head{
    width: 100%;
    margin-bottom: 100px;
    display: grid;
    place-items: center;
    text-align: center;
}
.skills_head h2{
	color: #655f5f;
    font-size: 75px;
    margin-bottom: -5px;
}
.skills_main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}
.skill_bar .info p:nth-child(2){
    font-weight: 500;
}
.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: #00000025;
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}
.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #f8b96c;
    border-radius: 25px;
}
.skill_bar .bar .html{
    width: 90%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.skill_bar .bar .css{
    width: 85%;
    animation: css 2s;
}
@keyframes css {
    0%{
        width: 0%;
    }100%{
        width: 85%;
    }
}
.skill_bar .bar .js{
    width: 80%;
    animation: css 2s;
}
@keyframes js {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .node{
    width: 70%;
    animation: node 2s;
}
@keyframes node {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar .word{
    width: 99%;
    animation: word 2s;
}
@keyframes word {
    0%{
        width: 0%;
    }100%{
        width: 99%;
    }
}
.skill_bar .bar .excel{
    width: 60%;
    animation: excel 2s;
}
@keyframes excel {
    0%{
        width: 0%;
    }100%{
        width: 60%;
    }
}
.artikel{
	background: #c6c4c4;
	width: 100%;
	padding: 30px 0px;
}
.title h2{
	color: #655f5f;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 470px;
	width: 340px;
	padding: 20px 35px;
	background: #f8b96c;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.artikel1{
	background: #ffffff;
	width: 100%;
	padding: 30px 0px;
}
.pra1 p{
	color: #323131;
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 25px;
	text-align: left;
}
.box1{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 500px;
}
.card1{
	height: 4500px;
	width: 1100px;
	padding: 20px 35px;
	background: #f8b96c;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.footer1{
	width: 100%;
	height: 195px;
	background: #edededfd;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.footer1 .button-two{
	background-color:#655f5f;
	color: white;
	text-decoration: none;
	border: 3px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
.footer1 .button-two:hover{
	background-color: #3c3b3b;;
	border: 4px solid rgb(255, 255, 255);
	cursor: pointer;
}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #323131;
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 25px;
}
.card .button{
	background-color:#655f5f;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
	margin: 20px
}
.card .button:hover{
	background-color: #3c3b3b;
	border: 4px solid white;
	cursor: pointer;
}
.footer{
	width: 100%;
	height: 400px;
	background: #edededfd;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.footer h2{
	color: #655f5f;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.footer p{
	color: #655f5f;
	font-family: 'Segoe UI';
	font-size: 17px;
	margin-bottom: 25px;
	text-align: 1px;
}
.footer .button-two{
	background-color:#655f5f;
	color: white;
	text-decoration: none;
	border: 3px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
.footer .button-two:hover{
	background-color: #3c3b3b;;
	border: 4px solid rgb(255, 255, 255);
	cursor: pointer;
}
akhir{
	position: relative;
	width: 100%;
	height: 30px;
	background: #c6c4c4;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
akhir p:nth-child(1){
	font-size: 10px;
	color: white;
	margin-bottom: 5px;
	font-weight: bold;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin: 22px 10px;
	color: #655f5f;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
	color: black;
}
.end{
	position: absolute;
	color:#000000;
	bottom: 5px;
	font-size: 14px; 
}
